<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      #{{ currentRoom }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-message [messages]="messages" messageInput="messageInput"></app-message>
</ion-content>

<ion-footer>
    <ion-input 
      autofocus 
      placeholder='Message #{{ currentRoom }}'
      [(ngModel)]="messageInput"
      (keyup.enter)="createMessage()"
    ></ion-input>
    <div class="footer-wrapper">
      <div>
        <ion-icon name="at"></ion-icon>
        <ion-text>/</ion-text>
        <ion-icon name="attach"></ion-icon>
      </div>
      <div>
        <ion-icon name="images" slot="end"></ion-icon>
        <ion-button 
          size="small"
          (click)="createMessage()"
        >Send</ion-button>
      </div>
    </div>
  </ion-footer>
